<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: skyblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/">OjasBlog</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
  <li><a href="{%  url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'dashboard' %}">dashboard</a></li>

    <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
     <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
     <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
     <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
     <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
     <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>
      <li><a href="{%  url 'signup' %}"></a></li>






  <li><a href="{%  url 'signup' %}">signup</a></li>

  {% if user.is_authenticated %}
  <li><a href="{% url 'logout' %}">logout</a></li>
  {% else %}
   <li><a href="{% url 'login' %}">login</a></li>
    {% endif %}

</ul>


{% block content %}
{% endblock %}
</body>
</html>


